body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: brown;
}

#drum-machine {
  display: flex;
  background: rgb(175, 74, 74);
}

.drum-panel {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  gap: 0.5em;
  padding: 1em;
  width: 300px;
}

.drum-pad {
  background: burlywood;
  padding: 0.5em;
  text-align: center;
  box-shadow: 4px 4px brown;
}

.drum-pad-click {
  background: rgb(230, 3, 3);
  padding: 0.5em;
  text-align: center;
  box-shadow: 4px 4px brown;
}
