body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: brown;
}

#drum-machine {
  display: flex;
  background: rgb(175, 74, 74);
  justify-content: space-evenly;
}

.drum-panel {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  gap: 0.5em;
  padding: 1em;
  width: 300px;
  margin: 0 auto;
}

.drum-pad {
  background: burlywood;
  padding: 1em;
  text-align: center;
  box-shadow: 4px 4px brown;
}

.drum-pad:active,
.active {
  background: rgb(230, 3, 3);
  padding: 0.5em;
  text-align: center;
  box-shadow: 4px 4px brown;
}

.display {
  padding: 0 1em;

  background: burlywood;
  height: 90%;
  margin: 5% 2em;
  min-width: 100px;
}
#display {
  padding: 1em;
}

@media only screen and (max-width: 769px) {
  #drum-machine {
    display: flex;
    background: rgb(175, 74, 74);
    flex-direction: column;
    width: 100%;
  }

  .display {
    margin: 2em auto;
    width: 100%;
  }
}
